/* #GRID-SETTINGS */

/*
this code applied messed up my 3 cards
ask Amy about it
.grid {
    display: grid;
    grid-template-columns: auto;
}
*/

.container {
    margin: auto;
    max-width: 1300px;
}
