/* styles for view-article link on home page for blog */
.view-article {
  display: none;
}

/*styles for the blog search form */
.search {
  padding-bottom: 2em;
  padding-top: 2em;
}

.search-input {
  margin: em(10px);
}

.search-submit {
  background-color: $red;
  color: white;
  padding: 0 em(10px) 0 em(10px);
  font-size: em(18px);
}

.search_blog {
  display: flex;
  justify-content: center;
}

/* styles for related posts on single.php" */
.links {
  font-size: em(18px);
  color: white;
  font-family: $roboto;
  padding-bottom: em(40px);

  ul {
    margin-left: em(60px);
  }

  a {
    padding-left: em(10px);
  }
}

/* styles for single.php pagination */
#pagination {
  padding-bottom: em(30px);
  padding-top: em(20px);

  @include breakpoint(mobile) {
    display: flex;
    justify-content: center;
  }
}

.prev_post {
  padding-bottom: em(50px);

  @include breakpoint(mobile) {
    padding-right: em(100px);
  }
}

.prev_post,
.next_post, {
  font-family: $roboto;
  font-size: em(24px);
  text-align: center;

  a {
    color: $dark-teal;

    &:hover {
      color: $red;
    }
  }
}

/* styles for pagination on index.php category.php archive.php */
.navigation {
    text-align: center;
    font-family: $roboto;
    padding-bottom: em(50px);
    padding-top: em(50px);
    line-height: 3.5;

    ul li {
      display: inline;
      font-size: em(18px);

    }

    li {
      padding-right: em(20px);

      a {
        color: $dark-grey;
        background-color: $light-grey;
        padding: em(20px);

        &:hover {
          color: $red;
        }
      }
    }
}

.active  {

    a {
      text-decoration: none;
    }

}

/* SEARCH RESULTS PAGE STYLES */

.search_results_page {
  padding-top: em(20px);
}

.center_search_results_title {
  text-align: center;
}

.page-numbers {
  font-family: $roboto;
  padding-right: em(10px);
}

.pagination {
  padding-top: em(50px);
  padding-bottom: em(50px);
  padding-left: em(20px);
}

#search-results-page .search-results-item,
.status-publish,
.has-post-thumbnail {
  padding-left: em(20px);
}
