/* BLOG */
.blog_list_img {
    img {
        width: 100%;
        height: 100%;
    }
}

.blog_list_text {
    h2,
    p {
        margin: 0;
    }

    h2 {
        padding-top: em(30px);
        padding-left: em(20px);
    }

    p {
        padding-left: em(30px);
    }
}

.date {
    padding-bottom: em(20px);
}

.blog_list_button {
    text-align: center;
    padding-bottom: em(50px);
    padding-top: em(30px);
}

@include breakpoint (larger-mobile) {
    .blog_list_button {
        text-align: right;
        padding-right: em(20px);
    }
}

@include breakpoint (portrait) {
    .blog_list_item {
        display: grid;
        grid-template-columns: 300px auto;
        grid-gap: em(10px);
        padding: em(50px) 0 em(50px) 0;
    }

    .blog_list_text {
        padding-right: em(20px);
    }
}

@include breakpoint (medium) {
    .blog_list {
        max-width: 775px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
