/* INDIVIDUAL BLOG POST */
.blog_title {

    h1 {
        font-size: em(50px);
        padding-bottom: 0;
    }

    h2 {
        font-size: em(32px);
        text-transform: lowercase;
        padding-top: 0;
        padding-bottom: em(50px);
    }
}

/* ::after on h2 creates the line from answers.squarespace.com */
.blog_title h2::after {
    background: none repeat scroll 0 0 $red;
    bottom: -0.5em;
    content: "";
    display: block;
    height: 0.125em;
    position: relative;
    width: 2.25em;
    margin: auto;
}

.blog_content {
    p:first-child {
        font-size: em(24px);
        padding: em(10px) em(20px) em(10px) em(20px);
    }

    p {
        padding: 0 em(20px) 0 em(20px);
    }

    h3 {
        margin-bottom: 0;
        padding: 0 em(20px) 0 em(20px);
    }

    @include breakpoint (large-mobile) {
        p:first-child {
            font-size: em(30px);
            padding: em(10px) em(60px) em(10px) em(60px);
        }

        p {
            padding: 0 em(60px) 0 em(60px);
        }

        h3 {
            margin-bottom: 0;
            padding: 0 em(60px) 0 em(50px);
        }
    }
}

.blog_image img {
    width: 100%;
    height: auto;
}

@include breakpoint (large-mobile) {
    .blog_image {
        float: right;
        width: 50%;
        padding-top: em(50px);
        margin-left: 10px;
    }
}

.blog_copy {
    p:last-child {
        padding-bottom: em(100px);
    }
}

.link_area {
    background-color: $dark-teal;

    h3 {
        color: $white;
        text-transform: uppercase;
        padding: em(30px) em(60px) 0 em(60px);
    }

    p:last-child {
        padding: 0 em(60px) em(20px) em(70px);
    }
}
