/* INDIVIDUAL BLOG POST */
.blog_title {

    h1 {
        font-size: em(50px);
        padding-bottom: 0;
    }

    h2 {
        font-size: em(32px);
        text-transform: lowercase;
        padding-top: 0;
        padding-bottom: em(50px);
    }
}

/* ::after on h2 creates the line from answers.squarespace.com */
.blog_title h2::after {
    background: none repeat scroll 0 0 $red;
    bottom: -0.5em;
    content: "";
    display: block;
    height: 0.125em;
    position: relative;
    width: 2.25em;
    margin: auto;
}

.blog_content {
    p:first-child {
        font-size: em(24px);
        padding: em(10px) em(20px) em(10px) em(20px);
    }

    p {
        padding: 0 em(20px) 0 em(20px);
        font-size: em(20px);
    }

    h3 {
        display: inline-block;
        text-transform: uppercase;
        background-color: $dark-teal;
        margin-left: em(20px);
        line-height: 1.5em;
        color: $white;
        padding: 0 em(60px) 0 em(50px);
    }

    @include breakpoint (large-mobile) {
        p:first-child {
            font-size: em(30px);
            padding: em(10px) em(60px) em(10px) em(60px);
        }

        p {
            padding: 0 em(60px) 0 em(60px);
        }

        h3 {
            margin-bottom: 0;
            padding: 0 em(60px) 0 em(50px);
            margin-left: em(60px);
        }
    }
}

.blog_image img {
    width: 100%;
    height: auto;
}

@include breakpoint (large-mobile) {
    .blog_image {
        float: right;
        width: 50%;
        padding-top: em(50px);
        margin-left: 10px;
    }
}


.blog_copy {
  /*
    p:last-child {
        padding-bottom: em(50px);
    }
*/

    ul li,
    ol {
      margin-left: em(10px);
      margin-right: em(19px);
      font-family: $roboto;
      font-size: em(20px);
    }

    li {
      line-height: 1.5em;
    }

    @include breakpoint(large-mobile) {
      ul li,
      ol {
        margin-left: em(50px);
      }
    }
}


.link_area {
    background-color: $dark-teal;

    h3 {
        color: $white;
        text-transform: uppercase;
        padding: em(30px) em(60px) 0 em(60px);
    }

    p:last-child {
        padding: 0 em(60px) em(20px) em(70px);
    }
}

.link_area_search_form {
  margin-left: em(60px);
}

/*Styles for Comment Form */
/* http://www.wpbeginner.com/wp-themes/how-to-style-your-wordpress-comments-layout/ */
.comments {
  margin: 0;
  background: #ececec;
  padding-bottom: em(20px);
  padding-top: em(50px);

  h2 {
    margin-left: em(30px);
  }

  h3 {
    margin: 0;
    font-size: em(36px);
  }

  ul {
    list-style: none;
  }

  input[type=text] {
    color: $dark-grey;
    border: solid 0.125em $dark-teal;
    margin-left: em(10px);
  }
}

#respond {
  margin-left: em(40px);
}

#author,
#email,
#url
 {
  background-color: $white;
}

#comment {
  border: solid 0.125em $dark-teal;
  margin-left: em(10px);
}

.form-submit {
  margin-left: em(75px);
  margin-top: em(50px);

  input[type=submit]:hover {
    background-color: $white;
    color: $red;
  }

  @include breakpoint (large-mobile) {

    input[type=submit] {
      padding: 1.25em 1.25em;
    }
  }
}

.comment-body {
  padding-bottom: em(40px);

  p {
    margin-right: em(20px);
  }
}

.avatar {
  border-radius: 50%;
  padding: em(10px);
}

.vcard {
  background-color: $light-grey;
  color: $white;
  margin-bottom: em(20px);

  a {
    color: $white;
    text-transform: uppercase;
    font-family: $roboto;
  }
}

.fn,
.says {
  font-family: $roboto;
}

.fn {
  text-transform: uppercase;
  font-size: em(20px);
  padding-right: em(10px);
  font-style: normal;
}

.comment-meta {
  a {
    text-decoration: none;
    color: $dark-grey;
    font-family: $roboto;
  }
}

.comment-reply-link {
  color: $red;
  font-family: $roboto;
}

#cancel-comment-reply-link {
  color: $red;
  font-size: em(8px);
  padding-left: em(10px);
}

/* tag cloud widget on single.php */
.widget_tag_cloud {
  padding-bottom: em(40px);
  padding-top: em(40px);
  margin-left: em(20px);
  margin-right: em(20px);

  a {
    color: $dark-grey;
  }

  h3 {
    display: none;
  }
}

.sidebar_tag {
    border: solid $red em(2px);
    margin: em(100px)em(5px) em(50px)em(5px);
}

@include breakpoint(large-mobile) {
  .widget_tag_cloud {
    margin: 0;
  }

  .tagcloud {
    margin-left: em(50px);
    margin-right: em(50px);
  }
}

@include breakpoint(portrait) {
  .sidebar_tag {
    margin-left: em(50px);
    margin-right: em(50px);
  }
}


@include breakpoint(medium) {
  .sidebar_tag {
    margin-left: em(200px);
    margin-right: em(200px);
  }
}
