/* WORKSHOPS */
.btn_pullup {
    display: none;

    @include breakpoint (portrait) {
        display: block;
        position: absolute;
        z-index: 100;
        top: em(260px);
        left: em(70px);
    }


    @include breakpoint (landscape) {
        display: block;
        position: absolute;
        z-index: 100;
        top: em(400px);
        left: em(200px);
    }
}

.workshop {
    padding: em(80px) 0 em(80px) 0;

    h2 {
        margin-bottom: 0;
    }
    h3 {
        margin-top: 0;
    }

    /* ::after on h3 creates the line from answers.squarespace.com */
    h3::after {
        background: none repeat scroll 0 0 $red;
        bottom: -0.5em;
        content: "";
        display: block;
        height: 0.125em;
        position: relative;
        width: 2.25em;
        margin: auto;
    }

    p {
        font-size: 1.25em;
    }

    @include breakpoint (small) {
        h2 {
            font-size: 2em;
        }
        h3 {
            font-size: 1.5em;
        }
    }
}

.workshop_wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 650px) {
        flex-direction: row;
    }
}

.workshop_description {
    padding-left: em(20px);
    padding-right: em(30px);

    ul li {
        font-family: $roboto;
        font-size: 1.25em;
    }

    @include breakpoint (smaller-screen) {
        margin-left: em(80px);
    }
}

.workshop_details {
    padding-left: em(20px);
}

.bold {
    color: $dark-teal;
    font-weight: bold;
}

.center_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workshop_button {
    margin-top: em(50px);
}
